   
 <div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item " ><a class="abc" routerLink="/danhsach" >Danh Sách Sản Phẩm </a></li>
						<li class="nav-item "><a class="abc" routerLink="/quan-ly-san-pham">Quản lý sản phẩm</a></li>
						<li class="nav-item "> <a class="abc" href="products.html">Sản phẩm khuyến mãi</a></li>
						<li class="nav-item "><a  class="abc" href="products.html">Hỗ trợ</a></li>
						<li class="nav-item "><a  class="abc" href="products.html">Giới thiệu</a></li>
						<div class="clearfix"> </div>
					</ul>
 </div>
 
