 <div class="collapse navbar-collapse" id="navbarResponsive">
 <nav class="top-nav main-menu">
					<ul class="top-nav">
						<li><a href="products.html" >Danh Sách Sản Phẩm </a><span> </span></li>
						<li><a href="products.html">Quản lý sản phẩm</a><span> </span></li>
						<li><a href="products.html">Sản phẩm khuyến mãi</a><span> </span></li>
						<li><a href="products.html">Hỗ trợ</a><span> </span></li>
						<li><a href="products.html">Giới thiệu</a></li>
						<div class="clearfix"> </div>
					</ul>
					<a href="#" id="pull"><img src="images/nav-icon.png" title="menu" /></a>
			  </nav>
 </div>